.topScreen{
    top:0;
    left:0;
    width:100%;
    height:5%;
    color:black;
    text-align: center;
    background-color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.7cm;
}

.lien{
    position:absolute;
    top:5%;
    left:0;
    width: 100%;
    height:10%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

#home{
    border:  1px solid black;
    border-radius: 15px;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.6cm;
    color: black;
    background-color: whitesmoke;
}

#insert{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.6cm;
    color: black;
    border-radius:15px;
    background-color: whitesmoke;
}

#consult_Library{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.6cm;
    color: black;
    border-radius:15px;
    background-color: whitesmoke;
}

#remove{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.6cm;
    color: black;
    border-radius:15px;
    background-color: whitesmoke;
}

.left-lateral{
    left:0;
    top:15%;
    position: absolute;
    height: 80%;
    width: 20%;
    /*background-color: white;*/
}

.right-lateral{
    left:80%;
    top:15%;
    position: absolute;
    height: 80%;
    width: 20%;
    /*background-color: white;*/
}

.middle1{
    position: absolute;
    left:20%;
    top: 20%;
    width:60%;
    height:75%;
    background-color: honeydew;
}

.dimension{
    filter: brightness(50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}